.App {
  display: flex;
}

.reactflow-wrapper {
  height: 100vh;
  width: 70vw;
}

.node-panel {
  width: 15vw;
  padding: 10px;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.settings-panel {
  width: 15vw;
  padding: 10px;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.save-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
